@font-face {
  font-family: 'HabeshaStencil';
  src: url('/font/Waldba_Yebse_Regular_299c8ff034.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AkiraExpanded';
  src: url('/font/Akira Expanded Demo.otf') format('opentype');
  font-display: swap;
}
